@import '~bootstrap';
@import "~bootstrap-social/bootstrap-social.css";
@import "~font-awesome";
@import './layout/header';
@import './layout/footer';
@import './components/hompage';
@import './components/ticket';
@import './components/tool';
html {
width: 100%;
}
body {
    background-color:#3498db;
    margin: 0;
    padding: 0;

}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;

}
.g-signin2{
    position: relative;
    top:70px;
    left: 40px;
    text-align: center;
}
