.ticket{


       &__offer:hover{
        border: 4px solid rgba(52, 152, 219,1.0);
        }

      &__offer {
        position: relative;
        padding: 0;
        height: 300px;
        background: snow;
                      & img {
                          -webkit-clip-path: polygon(0 0, 0 60%, 100% 75%, 100% 0);
                          height: 100%;
                          width:100%;

                           }
                      &__triangle{
                            width: 0;
                            height: 0;
                            border-color: transparent transparent #16181b;
                            border-style: solid;
                            border-width: 0 30px 24px;
                            position: absolute;
                            bottom: -45px;
                            left: calc(50% - 15px);
                            opacity:0;
                      }
                      &__row{
                            max-width: 1200px;
                            position: relative;
                            flex-direction: row;
                      }

                      &__container{
                            position: static;
                            padding-top: 20px;



                                  .ticket__offer__card{
                                        position: absolute;
                                        bottom:0;
                                        left: 0;

                                        height: 275px;
                                        width: 100%;
                                        padding: 10px 40px;
                                        background-color: #2f343b;
                                        -webkit-box-shadow: inset 0 5px 25px 0 rgba(0,0,0,.75);
                                        box-shadow: inset 0 5px 25px 0 rgba(0,0,0,.75);
                                        -webkit-clip-path: polygon(0 0,100% 0,100% 78%,0 100%);
                                          transform: none;

                                  }
                      }
                      &__title{

                            position: relative;
                            bottom:80px;
                            left: 20px;

                              & h4{
                                    color: black;
                              }

                       }
                      &__trait{
                            display: block;
                            position: relative;
                            height: 4px;
                            width: 40px;
                            background-color: #33DBE8;
                            top: -60px;
                            left: 40px;
                            border-radius: 30%;

                      }
                      &__details{
                        height: 300px;
                        width: 100%;
                      }

      }
      &__cardBox{
                      width: calc(100% - 80px);
                      height: 275px;
                      padding: 10px 40px;
                      font-family: Helvetica-Neue,Helvetica,Arial,sans-serif;
                      text-align: left;
                      font-size: 14px;
                      color:snow;

                     h4{
                        color: whitesmoke;
                       margin: 5px;
                       padding-bottom:20px ;

                      }
                      &__trait{
                        display: block;
                        position: relative;
                        height: 4px;
                        width: 40px;
                        background-color: #33DBE8;
                        top: 10px;
                        left: 0px;
                        border-radius: 30%;

                      }


                      &__close{
                        position:absolute;
                        top: 20px;
                        font-size: 20px;
                        right: 20px;
                        height: 16px;
                        width: 16px;
                        cursor: pointer;
                       }
                      &__prize{
                        width: 120px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid whitesmoke;

                      }
                      &__description{
                        height: 80px;
                        padding-top: 10px;


                      }
                      &__button{
                        position: absolute;
                        bottom: 80px;
                        right: 20px;
                      }
                      &__redirection{
                        font-size: 20px;
                        text-decoration: none;
                      }
      }
}
.ticket__offer__card {
  display: none;
}

.test__offer--active .ticket__offer__spacer {
  height: 315px;
}
.offer{


}