.homepage-img_bas
{
 padding-top: 30px;
}
.carousel{

 height: 100%;
 padding: 10px;
 margin: 20px;

 .carousel-inner {
  height: 100%;

  .carousel-item {
   height: 100%;
  }
 }

 .carousel-item img {
  height: 100%;
 }

}
