<div class="header">

    <a class="logo left" href="#">
        <img src="images\logo.png") alt="CE Essilor Battants">

    </a>


    {% block header_navigation %}




                {% block navigation %}
                    {{ include('comite/navigation.html.twig') }}
                {% endblock %}


    {% endblock %}


</div>
