<div class="header">


        {#<img src="\user\themes\wdgdesign\images\logo.png") alt="logo de WebdesignGroupe">#}


    {% block header_navigation %}




                {% block navigation %}
                    {{ include('comite/navigation.html.twig') }}
                {% endblock %}


    {% endblock %}
</div>
