{% extends 'base.html.twig' %}

{% block title %}HOMEPAGE!{% endblock %}
{% block header %}
    {{ include('comite/header.html.twig') }}

{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello HomePAGE</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/comiteEntreprise/src/Controller/ComiteController.php'|file_link(0) }}">src/Controller/ComiteController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/comiteEntreprise/templates/comite/index.html.twig'|file_link(0) }}">templates/comite/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
