{% extends 'base.html.twig' %}
{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="{{uploaded_asset(article.imagePath)}}"></div>
            <div class="col-md-6">
            <h1>{{ article.title}}</h1>
            </div>

<div>
    {{ article.content }}
</div>
    </div></div>
{% endblock %}