{% extends 'comite_admin/admin.html.twig' %}





{% block content_body %}
<div class="admin_form">
{{ form_start(adminForm) }}
            {{ form_widget(adminForm) }}
<button type="submit" class="btn btn-primary">Ajouter!</button>
{{ form_end(adminForm) }}
</div>
{% endblock %}
